# ====================================
# COMP90024 Cluster and Cloud Computing
# Group 17 - Assignment 2
# Xunye Tian 1021181
# Kechen Zhao 957398
# Yuzhe Jie 1189869
# Qingyang Feng 980940
# Wentian Ding 1048673
# Last Updated: 2022-05-14
# Description: setup couchdb cluster
# ====================================

---

- name: setup cluster
  become: yes
  uri:
    url: http://{{ groups.masternode[0] }}:5984/_cluster_setup
    status_code: 201
    method: POST
    user: "{{ couchdb_user }}"
    password:  "{{ couchdb_password }}"
    force_basic_auth: yes
    return_content: yes
    body_format: json
    body: 
      action: enable_cluster
      bind_address: 0.0.0.0
      username: {{ couchdb_user }}
      password: {{ couchdb_password }}
      port: 5984
      remote_node: {{ item }} 
      node_count: {{ groups.all | length }}
      remote_current_user: {{ couchdb_user }}
      remote_current_password: {{ couchdb_password }}
    headers:
      Content-Type: "application/json"
  loop: "{{ groups.othernodes }}"

- name: add nodes
  become: yes
  uri:
    url: http://{{ groups.masternode[0] }}:5984/_cluster_setup
    status_code: 201, 409 # skip error message
    method: POST
    user: "{{ couchdb_user }}"
    password:  "{{ couchdb_password }}"
    force_basic_auth: yes
    return_content: yes
    body_format: json
    body:
      action: add_node
      host: {{ item }}
      port: 5984
      username: {{ couchdb_user }}
      password: {{ couchdb_password }}
    headers:
      Content-Type: "application/json"
  loop: "{{ groups.othernodes }}"

- name: finish cluster
  become: yes
  uri:
    url: http://{{ groups.masternode[0] }}:5984/_cluster_setup
    status_code: 201, 500 # skip error message
    method: POST
    user: "{{ couchdb_user }}"
    password:  "{{ couchdb_password }}"
    force_basic_auth: yes
    return_content: yes
    body_format: json
    body: 
      action: finish_cluster
    headers:
      Content-Type: "application/json"