<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link href="../static/css/aboutUs.css" , rel="stylesheet" /> -->
		<title>About Us</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:black">COMP90024</li>
					<li><a href="main.html" , style="color:black>Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:black">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="general.html" ,
										style="color:black">General Analysis</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="house_price.html" ,
										style="color:black">House Price</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="income.html" ,
										style="color:black">Income</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="population.html" ,
										style="color:black">Population</a></div>
							</div>
						</div>
					<li><a href="aboutUs.html" , style="color:black>About us</a></li>
				</ul>
			</div>
		</header>
		<div class="mainbox">
			<div class="column">
				<div class="map1"></div>
				<div class="map2"></div>
			</div>
			<div class="column">
				<div class="member">
					<h1>Contributors</h1>
					<p>--------------------------------------</p>
					<p>Name: Xunye Tian</p>
					<p>Student ID: 1021181</p>
					<p>Email: xunyet@student.unimelb.edu.au</p>
					<p>--------------------------------------</p>
					<p>Name: Kechen Zhao </p>
					<p>Student ID: 957398</p>
					<p>Email: kechenz1@student.unimelb.edu.au</p>
					<p>--------------------------------------</p>
					<p>Name: Yuzhe Jie </p>
					<p>Student ID: 1189869</p>
					<p>Email: yjjie@student.unimelb.edu.au</p>
					<p>--------------------------------------</p>
					<p>Name: Qingyang Feng </p>
					<p>Student ID: 980940</p>
					<p>Email: yanhaow@student.unimelb.edu.au</p>
					<p>--------------------------------------</p>
					<p>Name: Wentian Ding </p>
					<p>Student ID: 1048673</p>
					<p>Email: wentiand@student.unimelb.edu.au</p>
					<p>--------------------------------------</p>
				</div>
			</div>

		<!-- <script src="../static/js/flexible.js"></script> -->
	</body>
</html>
