<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Language </title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<header>
  <div class="navbar">
    <div> <a href="/main.html"> <button> main </button> </a> </div>
    <div> <a href="/main.html"> <button> general </button> </a> </div>
    <div> <a href="/main.html"> <button> region </button> </a> </div>
    <div> <a href="/main.html"> <button> house price </button> </a> </div>
    <div> <a href="/main.html"> <button> income </button> </a> </div>
    <div> <a href="/main.html"> <button> population </button> </a> </div>
    <div> <a href="/main.html"> <button> language </button> </a> </div>
  </div>
</header>
<body>
  <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <div class="img"> <img src="../static/images/twitter_language.png" width="600px" height="600px"> </div>
    <div class="img"> <img src="../static/images/twitter_language_ex_en.png" width="600px" height="600px"> </div>
    <div class="img"> <img src="../static/images/lang_top_pos.png" width="600px" height="600px"> </div>
    <div class="img"> <img src="../static/images/lang_top_neg.png" width="600px" height="600px"> </div>
  </div>
</body>
</html>