<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MainTopic </title>
</head>
<body>
  <div class="container" style="margin: auto; background-color: grey; text-align: center; width: 80%; height: 1080px; position: absolute; left:0; right: 0;">
    <div>
      <img src="../static/images/aurin_prop_growth_rate.png">
    </div>
  </div>
</body>
</html>