<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MainTopic </title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<header>
  <div class="navbar" style="display: flex; flex-direction: row; justify-content: space-between;">
    <div> <a href="/main.html"> <button> main </button> </a> </div>
    <div> <a href="/general.html"> <button> general </button> </a> </div>
    <div> <a href="/region.html"> <button> region </button> </a> </div>
    <div> <a href="/house_price.html"> <button> house price </button> </a> </div>
    <div> <a href="/income.html"> <button> income </button> </a> </div>
    <div> <a href="/population.html"> <button> population </button> </a> </div>
    <div> <a href="/language.html"> <button> language </button> </a> </div>
  </div>
</header>
<body>
  <div class="container" style="display: flex; flex-direction: row">
    <div style="top:0; width: 900px; height: 200px; padding: 40px">
      <h1> Main Topic </h1>
      <p style="font-size: 24px;"> The topic we are interested in this project is people’s attitude towards housing in Melbourne. In particular, we would like to discern the geographical and cultural patterns of the distributions of different sentiments. To understand these variabilities, some potential factors driving them are proposed and investigated, including the housing price, income and population density in the area. </p>
      <div>
        <img src="../static/images/greater_melbourne.png" width="600px" height="470px">
      </div>
    </div>
    <div style=" width: 500px; display: inline-block;">
      <h1>Contributors</h1>
      <p>--------------------------------------</p>
      <p>Name: Xunye Tian</p>
      <p>Student ID: 1021181</p>
      <p>Email: xunyet@student.unimelb.edu.au</p>
      <p>--------------------------------------</p>
      <p>Name: Kechen Zhao </p>
      <p>Student ID: 957398</p>
      <p>Email: kechenz1@student.unimelb.edu.au</p>
      <p>--------------------------------------</p>
      <p>Name: Yuzhe Jie </p>
      <p>Student ID: 1189869</p>
      <p>Email: yjjie@student.unimelb.edu.au</p>
      <p>--------------------------------------</p>
      <p>Name: Qingyang Feng </p>
      <p>Student ID: 980940</p>
      <p>Email: yanhaow@student.unimelb.edu.au</p>
      <p>--------------------------------------</p>
      <p>Name: Wentian Ding </p>
      <p>Student ID: 1048673</p>
      <p>Email: wentiand@student.unimelb.edu.au</p>
      <p>--------------------------------------</p>
    </div>
  </div>
</body>
</html>