# ====================================
# COMP90024 Cluster and Cloud Computing
# Group 17 - Assignment 2
# Xunye Tian 1021181
# Kechen Zhao 957398
# Yuzhe Jie 1189869
# Qingyang Feng 980940
# Wentian Ding 1048673
# Last Updated: 2022-05-14
# Description: deploy the app to harvest streaming tweets data
# ====================================

---

- name: install library for harvester
  ansible.builtin.pip:
    name: ['tweepy', 'couchdb', 'textblob', 'text2emotion', 'nltk']
    state: latest

- name: check if harvest folder exist in host
  ansible.builtin.stat:
    path: "/home/ubuntu/harvest"
  register: harvester

- name: add harvester into harvest directory if not exist
  ansible.builtin.copy: 
    src: ../harvest/harvester.py
    dest: /home/ubuntu/harvest/
    owner: ubuntu
    group: ubuntu
    mode: 0777
  # when: not harvester.stat.exists

- name: add shell script
  ansible.builtin.copy:
    src: ../harvest/run_harvester.sh
    dest: /home/ubuntu/harvest/
    owner: ubuntu
    group: ubuntu
    mode: 0777

- name: run harvester
  ansible.builtin.script: /home/ubuntu/harvest/run_harvester.sh